.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  position: left;
  margin-right: 950px;
  margin-top: 30px;
}




.App-header {
  background-color: black;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
